<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>checkCookie.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>servlet.BookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/servlet.BookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConferenceReviewServlet</servlet-name>
        <servlet-class>servlet.ConferenceReviewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConferenceReviewServlet</servlet-name>
        <url-pattern>/servlet.ConferenceReviewServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IdentitySettingServlet</servlet-name>
        <servlet-class>servlet.IdentitySettingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IdentitySettingServlet</servlet-name>
        <url-pattern>/servlet.IdentitySettingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet.LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet.RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>servlet.SelectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/servlet.SelectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>servlet.UserEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/servlet.UserEditServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInfoEditServlet</servlet-name>
        <servlet-class>servlet.UserInfoEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserInfoEditServlet</servlet-name>
        <url-pattern>/servlet.UserInfoEditServlet</url-pattern>
    </servlet-mapping>
</web-app>